<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
         crossorigin="anonymous"
      />
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
         crossorigin="anonymous"
      ></script>
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <!--index.css -->
      <link rel="stylesheet" href="../static/css/style.css"/>
        <!--post_card_css -->
       <link rel="stylesheet" href="../static/css/components/post_card.css">
       <!--side_menu_css -->
       <link rel="stylesheet" href="../static/css/components/side_menu.css">

      <title>TIL 순위</title>

      <link
         href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
         rel="stylesheet"
      />

   </head>

   <body>

      <header>
          <div class="navbar">
              <h2>🧑🏻‍💻항해99 12기 TIL 등록하기!</h2>
          </div>

      </header>


      <div class="side_menu">
          <div>
              <a class="active" href="#">
              <i class="fa-solid fa-house"></i>
          </a>
          </div>
          <div> <a href="#" onclick="location.href='/post'">
              <i class="fa-solid fa-plus"></i>
              </a>
          </div>
          <div>
              <a href="#" onclick="location.href='/rank'">
              <i class="fa-solid fa-ranking-star"></i>
                  </a>
          </div>
      </div>

      <div class="container-custom mt-5">
         <div class="row row-cols-1 row-cols-md-4 g-4 post-container">



         </div>
      </div>

         <script src="/static/js/index.js"></script>
   </body>
</html>
