<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />

      <!-- 부트스트랩 -->
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
         crossorigin="anonymous"
      />
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
         crossorigin="anonymous"
      ></script>

      <!-- jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <!-- goggle font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
         rel="stylesheet"
      />

      <!-- css -->
      <link rel="stylesheet" href="static/css/style.css" />
      <title>TIL 순위</title>
   </head>

   <body>
      <div class="menu">
         <ul>
            <li><a href="#" onclick="location.href='/'">홈</a></li>
            <li><a class="active" href="#">블로그 등록</a></li>
            <li><a href="#" onclick="location.href='/rank'">순위</a></li>
         </ul>
      </div>
      <div class="mytitle">
         <h1>TIL</h1>
      </div>
      <div class="mypost" id="post-box">
         <div class="form-floating mb-3">
            <input
               id="name"
               type="email"
               class="form-control"
               placeholder="name@example.com"
            />
            <label>작성자</label>
         </div>
         <div class="form-floating">
            <textarea
               id="address"
               class="form-control"
               placeholder="Leave a comment here"
            ></textarea>
            <label for="floatingTextarea2">블로그 주소</label>
         </div>
         <div class="comment5-box">
            <div class="form-floating">
               <textarea
                  id="comment5"
                  class="form-control"
                  placeholder="Leave a comment here"
               ></textarea>
               <label for="floatingTextarea2">간단한 설명글</label>
            </div>
         </div>

         <div class="mybtns">
            <button type="button" onclick="posting()" class="btn btn-dark">
               기록하기
            </button>
         </div>
      </div>
      <script src="../static/js/record.js"></script>
   </body>
</html>
