<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8" />
      <meta
         name="viewport"
         content="width=device-width, initial-scale=1, shrink-to-fit=no"
      />
      <!-- 파비콘 -->
      <link
         rel="shortcut icon"
         href="/static/img/favicon.ico"
         type="image/x-icon"
      />
      <!-- 부트스트랩 -->
      <link
         href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
         rel="stylesheet"
         integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
         crossorigin="anonymous"
      />
      <script
         src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
         integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
         crossorigin="anonymous"
      ></script>

      <!-- jquery -->
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

      <!-- goggle font -->
      <link
         href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&display=swap"
         rel="stylesheet"
      />

      <!-- css -->
      <link rel="stylesheet" href="static/css/style.css" />
      <title>내 블로그 기록하기</title>
   </head>

   <body>
      <div class="menu">
         <ul class="menu-ul">
            <li>
               <a href="#" onclick="location.href='/'"
                  >피 드 <i class="fa-solid fa-ship"></i
               ></a>
            </li>
            <li>
               <a href="#" class="active" onclick="location.href='/post'"
                  >블로그등록 <i class="fa-sharp fa-solid fa-anchor"></i
               ></a>
            </li>
            <li>
               <a href="#" onclick="location.href='/rank'"
                  >순 위 <i class="fa-solid fa-ranking-star"></i
               ></a>
            </li>
         </ul>
      </div>
      <div class="mytitle">
         <h1>✏️ 내 블로그 등록하기 ✏️</h1>
      </div>
      <div class="mypost" id="post-box">
         <div class="form-floating mb-3">
            <input
               id="name"
               type="email"
               class="form-control"
               placeholder="name@example.com"
               maxlength="15"
            />
            <label>작성자</label>
         </div>
         <div class="form-floating">
            <textarea
               id="address"
               class="form-control"
               placeholder="Leave a comment here"
            ></textarea>
            <label for="floatingTextarea2">블로그 주소</label>
         </div>
         <div class="comment5-box">
            <div class="form-floating">
               <textarea
                  id="comment5"
                  class="form-control"
                  placeholder="Leave a comment here"
                  maxlength="19"
               ></textarea>
               <label for="floatingTextarea2">간단한 설명글</label>
            </div>
         </div>

         <div class="mybtns">
            <button type="button" onclick="posting()" class="btn btn-dark">
               기록하기
            </button>
         </div>
      </div>
      <script src="../static/js/record.js"></script>
      <script
         src="https://kit.fontawesome.com/a7ffd79a17.js"
         crossorigin="anonymous"
      ></script>
   </body>
</html>
